.by-button {
    border-radius: 8px;
    display: inline-block;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 8px 14px;
    background-color: #f54829;
    color: rgb(244, 244, 244);
    cursor: pointer;
}
.by-button:hover {
    background-color: rgb(248, 77, 77)
}
.by-button:active {
    background-color: #f54829;
}
.by-btn {
    cursor: pointer;
    height: 17px;
    padding: 8px 14px;
    text-align: center;
    line-height: 17px;
    border-radius: 5px;
}
.by-btn:hover {
    filter: brightness(0.8);
}
.by-btn:active {
    filter: brightness(1);
}
.by-confirm {
    color: #fff;
    background: rgb(248, 77, 77);
}
.by-cancel {
    color: #fff;
    background: #ccc;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
}